.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(8px + 1.5625vw);
    margin: 4%;
}
.left > h1 {
    font-size: 3.2rem;
}
.left > p {
    max-width: 45ch;
    font-size: 2.4rem;
    line-height: 190%;
}
.right {
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }
    .left {
        text-align: center;
    }
  }