.container {
    border-radius: 100%;
    border: 3px solid #D8222A;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}