.container {
    max-width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 3px solid #D8222A;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}